main {
    display: flex;
    flex-direction: column;
    width: 100%;
    .image-section img {
        height: 100%;
        width: 100%;
    }
    .about {
        height: 50vh;
        font-size: 1.6rem;
        text-align: center;
        padding: 40px 20px;
    }
}

